body{
  margin: 0;

}
.container{
 background-color: beige;
 min-height: 100vh; 
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; 
} 
.task_area{
  border: 1px solid lightgray;
}
.task_name{
  border-bottom: 1px solid lightgray;
  display: flex;
  position: relative;
}
.task_name div{
  padding: 1em;
}
#underline{
  height: 4px;
  background-color: black;
  position: absolute;
  width: 60px;
  left: 0px;
  top: 51px;
  padding: 0px;
  transition: 0.5s;
}
.task_done{
  text-decoration: line-through;
  background-color: gray;
 }
 .task_name div{
  cursor: pointer;
 }
.task{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: relative;
  border-bottom: 1px solid lightgray;
  
}
#button_click{
  border-radius: 30%;
  width: 30px;

}
#task_input{
  
}
