
body{
  margin: 0;
  background-color: black;
  color: white;

}
.head_line{
  
  margin-top: 1em;
  text-decoration: underline;
  text-transform: uppercase;
  
}

button:hover{
  color: orange;
  cursor: pointer;
}
.news-image-size{
  max-width: 100%;
  max-height: 300px;
}
